.reviews__list {
  padding: 40px 0px;
}
.reviews__item {
  /* display: inline-flex; */
  display: grid;
  grid-template-columns: 0.8fr 5fr;
  margin: 15px 0px;

  border-bottom: 1px solid #3d3d3d;
}
.reviews__item:last-child{
    border-bottom: none;
}
.reviews__avatar {
  margin-bottom: 15px;
}
.reviews__name {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;

  letter-spacing: 0.005em;

  color: #9ca4ab;
}
.wrapperText {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.005em;

  color: #9ca4ab;
  padding: 10px 0px;
}
.reviews__tex {
}
