.slider__card {
 
}
.wrapp {
  @media screen and ((min-width: 1440px)) {
    height: 100vh;
  }
}
.slider__info {
  position: fixed;
  top: 50%;
  left: 0%;
  transform: translate(20%, 15%);

  width: 41.67vw;

  padding: 0.7rem;

  border-radius: 0.4rem;

  background-color: rgb(0, 0, 0, 0.8);
  color: #ffffff;
}

.slider__title {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25;

  letter-spacing: 0.005em;

  margin-bottom: 0.3rem;
}
.slider__text {
  font-weight: 400;
  font-size: 0.5rem;
  line-height: 1.43;

  letter-spacing: 0.005em;
}
.slider__relize {
  display: flex;
  margin-bottom: 0.3rem;

  font-size: 0.5rem;
  line-height: 1.57;

  letter-spacing: 0.005em;

  color: #9ca4ab;
}
.reating {
  margin-right: 0.3rem;
}
.MuiRating-icon.MuiRating-iconEmpty {
  color: rgb(255 255 255 / 26%);
}

.slick-arrow.slick-prev {
  display: none !important;
}
.slick-arrow.slick-next {
  right: -9px;
}
